<!-- <a routerLink="{{i}}"> -->

  <a routerLink="{{i}}" routerLinkActive="border-info"
    *ngFor="let rec of recepies; let i = index" 
    class="card defaultFont mb-1 border" 
    style="text-decoration:none; cursor: pointer; overflow: hidden;" 
    (mouseenter)="mouseEnter(i)" 
    (mouseleave)="mouseLeave(i)"
    >
    <!-- (click)="RecipeClicked(i)" -->

      <!-- <app-recipe-item [currentRecipe]="rec" [currentIndex]="i"></app-recipe-item> -->
      <app-recipe-item [currentRecipe]="rec" [currentIndex]="i"></app-recipe-item>

</a>

<!-- </a> -->