<app-header-component></app-header-component>
<router-outlet></router-outlet>

<!-- <app-recipes [hidden]="!(ShowRecipe)" ></app-recipes> -->

<!-- <app-recipes *ngIf="ShowRecipe" ></app-recipes> -->

<!-- <div *ngIf="!(ShowRecipe)"> -->
<!-- <div [hidden]="ShowRecipe">
         
        <div class="defaultPadding row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 ml-auto mr-auto">
                    <app-shopping-list></app-shopping-list>
            </div>
          </div>
            
</div> -->
<!-- <app-recipe-detail></app-recipe-detail>
 <app-recipe-list></app-recipe-list> 
 <app-recipe-item></app-recipe-item> 
 
<app-shopping-list-edit></app-shopping-list-edit> 
 [_newIngredient]="newIngredient"-->